<!DOCTYPE html>
<html lang="ja">
        <head>
        <meta charset="utf-8">
        <meta name="description" content="Bootgrid のデモでーす。">
        <meta name="robots" content="noindex, nofollow">
        <title>Bootgrid - jQuery Plugin Demo</title>
        
        
          <!--   jQuery・bootstrapライブラリ読み込み -->
         <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->
         <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> -->
          <link  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
          <!--  /jQuery・bootstrapライブラリ読み込み -->
        
          <!--  独自ライブラリ読み込み -->
         <!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.css" /> -->
         <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.min.js" ></script> -->
          <!--  /独自ライブラリ読み込み -->
        
        </head>
        <body>
        
        <div style="padding:30px;">
        <h1>TEST1</h1>
          <table id="grid-basic" class="table table-condensed table-hover table-striped">
          <thead>
            <tr>
              <th data-column-id="id" data-type="numeric">ID</th>
              <th data-column-id="namae">名前</th>
              <th data-column-id="received" data-order="desc">メール</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>たろう</td>
              <td>taro@gmail.co</td>
            </tr>
            <tr>
              <td>2</td>
              <td>じろう</td>
              <td>jiro@gmail.co</td>
            </tr>
            <tr>
              <td>3</td>
              <td>さぶろう</td>
              <td>36@gmail.co</td>
            </tr>
            <tr>
              <td>4</td>
              <td>たけし</td>
              <td>take@gmail.co</td>
            </tr>
            <tr>
              <td>5</td>
              <td>佐藤</td>
              <td>suger@icloud.com</td>
            </tr>
            <tr>
              <td>6</td>
              <td>高橋</td>
              <td>taka@gmail.co</td>
            </tr>
            <tr>
              <td>7</td>
              <td>伊藤</td>
              <td>i10@gmail.co</td>
            </tr>
            <tr>
              <td>8</td>
              <td>渡辺</td>
              <td>watanabe@gmail.co</td>
            </tr>
            <tr>
              <td>9</td>
              <td>斎藤</td>
              <td>saito@gmail.co</td>
            </tr>
            <tr>
              <td>10</td>
              <td>小林</td>
              <td>koba@gmail.co</td>
            </tr>
            <tr>
              <td>11</td>
              <td>吉田</td>
              <td>yosi@gmail.co</td>
            </tr>
            <tr>
              <td>12</td>
              <td>松本</td>
              <td>mat@gmail.co</td>
            </tr>
            <tr>
              <td>13</td>
              <td>佐々木</td>
              <td>s@gmail.co</td>
            </tr>
          </tbody>
          </table>
        </div>
        
       <!-- <script>
        $(function() {
          $("#grid-basic").bootgrid({
            labels: {
                noResults: "検索結果 0件",
                infos: "全 {{ctx.total}}件中 / {{ctx.start}}～{{ctx.end}}まで表示"
                
            }  
          
         } );
        });
        </script>-->
        
        
        </body>
</html>