<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="商品一覧">
    <meta name="robots" content="noindex, nofollow">
    <title>店舗一覧</title>

        <!--   jQuery・bootstrapライブラリ読み込み -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> 
          <link  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
      <!--  独自ライブラリ読み込み -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.css" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.min.js" ></script>
      <!--  /独自ライブラリ読み込み -->
 
  
      <style type="text/css">
       .img_prv {
          width: 100%;
          height: 100px;
          background-position: center center;
          background-size: cover;
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
          display: inline-block;
        } 
      </style>


  </head>
  <body>
     <div style="padding:30px;">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">商品一覧・編集</a>
          </div>
          
          <div class="collapse navbar-collapse " style="float:right;" id="navbarEexample1">
            <ul class="nav navbar-nav ">
              
              <li class="active "><a href="#" id="Newshop" >
                新規商品登録
              </a></li>
              <li ><a href="/mngmt">トップ</a></li>
              <li><a href="#">設定</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <table id="grid-basic" class="table table-condensed table-hover table-striped"> 

      <thead>
        <tr>
          <th data-column-id="i" data-type="numeric" scope="col" data-order="asc" data-width="8%">No.</th>
          <th data-column-id="id" data-formatter="link"   data-width="15%">商品ID</th>
        <!--  <th data-column-id="image" data-formatter="image" data-sortable="false" data-visible="false"  data-width="0%"></th>-->
          <th data-column-id="name">商品名</th>
          <th data-column-id="yomi" >読み</th>
          <th data-column-id="shop" >店舗名</th>
          <th data-column-id="price"  data-width="10%">単価</th>
          <th data-column-id="stock"  data-width="5em" >在庫数</th>
        </tr>
      </thead>
      <tbody>
        <script type="text/javascript">
          let images = [];
         // let items_js ={{ items | tojson }};  #jsの変数として再定義 
        
        
        </script> <!-- 画像の保存先-->
        {% set cnt = namespace(i = 1) %}   <!--一覧の番号初期化-->
        {% for item in  items %}
        <div>
          <tr class="ShopData">
            <td scope="row">{{ cnt.i }}</td> 
            <td>{{ item.id }}</td>    <!--商品ID-->
           <!--<td >{{ item.image_b64data}}</td>-->  <!--商品画像-->
            <script>
            images[{{cnt.i}}-1] = "{{ item.image_b64data }}" ;
            //imgaes.push("{{ item.name }}");//images.push(item.image_b64data);
            </script> <!--画像データをjavascriptの変数で保存-->
            <td>{{ item.name }}</td>  <!--商品名-->
            <td>{{ item.yomi}}</td>   <!--商品読み-->
            <td>{{ item.shop}}</td>      <!--店舗名-->
            <td>{{ item.price}}</td>   <!--単価-->
            <td>{{ item.stock}}</td>   <!--在庫数-->
          </tr>
          {% set cnt.i = cnt.i + 1 %}
        </div>
      {% endfor %}

      </tbody>
      </table>
     
      <div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="EditModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
              <h5 class="modal-title" id="Edit-title" >商品情報入力・編集</h5>
            </div>
            <div class="modal-body" >
              <form action="/mngmt/item_resp" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                  <label for="Edit-id" class="col-form-label">商品情報を入力してください:</label>
                  <input type="hidden" class="form-control input-lg" id="Edit-command" name="command"  value="" >
                  <input type="hidden" class="form-control input-lg" id="Edit-id" name="id"  value="" >
                  <div class="input-group mb-3 form-group">
                    <label class="input-group-text" style="width:350px;" >商品名</label>
                    <input type="text" class="form-control input-sm" id="Edit-name"  name="name"  value="" placeholder="苺ショートケーキ" > 
                  </div> 
                  <div class="input-group mb-3  form-group">
                    <label class="input-group-text" style="width:350px;" >よみ</label>
                    <input type="text" class="form-control input-sm" id="Edit-yomi"   name="yomi"  value=""  placeholder="いちごしょーとけーき">
                  </div> 
                  <div class="input-group mb-3  form-group">
                    <label class="input-group-text"  style="width:350px;">店舗名</label>
                    <input type="text" class="form-control input-sm" id="Edit-shop"   name="staff"  value=""  placeholder="店舗を選択" >
                  </div>
                  <div class="input-group mb-3  form-group">
                    <label class="input-group-text"  style="width:350px;">単価（円）</label>
                    <input type="number" class="form-control input-sm" id="Edit-price"   name="tel"  value="" placeholder="250" >
                  </div>
                  <div class="input-group mb-3  form-group">
                    <label class="input-group-text"  style="width:350px;">在庫数</label>
                    <input type="number" class="form-control input-sm" id="Edit-stock"   name="tel"  value="0"  >
                  </div>
                  <label  style="width:400px;">商品画像
                  <div id="imagePreview" class="img_prv" >
                    
                  </div></label>
                  <div class="input-group">
                    <input id="input_img" type="file" name="item_img"  accept="image/png, image/jpeg" />
              
                  </div>

                </div>
 

                <div class="modal-footer" style="margin-top: 10px;">
                  <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
                  <button type="submit" class="btn btn-primary">登録・更新</button>

                </div>
                <div class="modal-footer btn-delete">
                  <button id="Delete" type="submit" class="btn btn-danger">削除</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    {% raw %}
    <script>

      var grid = $("#grid-basic").bootgrid({
        labels: {
            noResults: "検索結果 0件",
            infos: "全 {{ctx.total}}件中 / {{ctx.start}}～{{ctx.end}}まで表示"            
        } 
        ,
        formatters: {
            "link": function(column, row)
            { // 店舗idの列を編集ダイアログ（モーダル）を起動するためのリンクを設定する。data-row-xxxxで行内の各データをクリックしたときに得られるようにセットしている
              //  return "<a  href='#' class='Edit ' data-row-id='" + row.id + "' data-row-name='" + row.name + "' data-row-yomi='" + row.yomi + "' data-row-staff='" + row.staff + "' data-row-tel='" + row.tel + "' ' >"  + row.id + "<img src='"+row.image+"' style='width:50px;margin-left:2px;float: right;' />"+ "</a>";
                return "<a  href='#' class='Edit ' data-row-id='" + row.id + "' data-row-name='" + row.name + "' data-row-yomi='" + row.yomi + "' data-row-staff='" + row.staff + "' data-row-tel='" + row.tel + "' ' >"  + row.id + "<img src='"+images[row.i-1]+"' style='width:50px;margin-left:2px;float: right;' />"+ "</a>";

            }
        }  
      }).on("loaded.rs.jquery.bootgrid", function() {
          grid.find(".Edit").on("click", function(e){
            // モーダルダイアログのinputタグに現状のデータをセットする 
            $("#Edit-title").html("店舗情報編集"); 
            $("#Edit-command").val("2"); //  コマンドを編集とする
            $("#Edit-id").val($(this).data("row-id"));
            $("#Edit-name").val($(this).data("row-name"));
            $("#Edit-yomi").val($(this).data("row-yomi"));
            $("#Edit-shop").val($(this).data("row-shop"));
            $("#Edit-price").val($(this).data("row-price"));
            $("#Edit-stock").val($(this).data("row-stock"));
            $(".btn-delete").css("display", "block"); // 編集なので、削除ボタンを表示する
            $('#EditModal').modal();  // モーダルダイアログ（編集画面）を起動する
                
            //  alert("You pressed edit on row: "+$(this).data("row-id")+ $(this).data("row-name")+ $(this).data("row-yomi")+ $(this).data("row-staff")+ $(this).data("row-tel"));
      });

      $('#Newshop').click(function() { 
        // モーダルダイアログのinputタグにのデータをクリアあする 
        $("#Edit-command").val("1"); //  コマンドを新規登録とする
        $("#Edit-title").html("新規店舗登録"); 
        $("#Edit-id").val("-1");
        $("#Edit-name").val("");
        $("#Edit-yomi").val("");
        $("#Edit-shop").val("");
        $("#Edit-price").val("");
        $("#Edit-stock").val("0");
        $(".btn-delete").css("display", "none"); // 新規なので、削除ボタンを非表示にする
        $('#EditModal').modal();  // モーダルダイアログ（新規登録画面）を起動する
      });
  
      }); 
      $(function(){
        $("#Delete").on("click", function(){
            if(window.confirm('ほんとうに削除しますか？','location=no')) {
                $("#Edit-command").val("99"); //  コマンドを削除とする
                $("#Edit-id").val($(this).data("row-id"));
                $("#Edit-name").val("");
                $("#Edit-yomi").val("");
                $("#Edit-shop").val("");
                $("#Edit-price").val("");
                $("#Edit-stock").val("");

                return true;
            } else {
                return false;
            }
        });
      });


      $(document).on('change', ':file', function() {
          var input = $(this),
          numFiles = input.get(0).files ? input.get(0).files.length : 1,
          label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
          input.parent().parent().next(':text').val(label);
//document.write(input.val());
          var files = !!this.files ? this.files : [];
          if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support
          if (/^image/.test( files[0].type)){ // only image file
              var reader = new FileReader(); // instance of the FileReader
              reader.readAsDataURL(files[0]); // read the local file
              reader.onloadend = function(){ // set image data as background of div
            //      input.parent().parent().parent().prev('.imagePreview').css("background-image", "url("+this.result+")");
              //   $("#imagePreview").css("background-image", "url("+this.result+")");
                 $("#imagePreview").html("<img src='"+this.result+"' style='height:100%;'/>");
                 
              }
          }
      });
    </script>
    {% endraw %}

  </body>
</html>