<!DOCTYPE html>
<html lang="ja">

<head>
  <title>アウトレット・ケーキ＆パン</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <!--   jQuery・bootstrapライブラリ読み込み -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  --> 
  <!--  /jQuery・bootstrapライブラリ読み込み -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  	<script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>

 
</head>

<body class="container"style="max-width: inherit; width:80%">

  <div class="page-header" style="margin:5px;">
    <h2>予約情報更新</h2>
    <p>予約番号：{{rsvid}}　　ニックネーム：{{name}}様　　　{{date}}</p>
  </div>


  <div class="row" style="margin: 30px;">
  
    {% if command == 1 %}
    <h3>この予約を「商品引渡し完了」にしました</h3>
    {% elif command == 2 %}
    <h3>この予約を「取り消し」にしました</h3> 
    {% endif %}
    <div style="text-align: right;">
      <a href="/mngmt" type="button" class="btn btn-primary" style="width:100px;" />O K</a>
    </div>
  </div>
</body>

</html>
