<!DOCTYPE html>
<html lang="ja">
        <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="予約一覧">
        <meta name="robots" content="noindex, nofollow">
        <title>予約一覧</title>
        
        
          <!--   jQuery・bootstrapライブラリ読み込み -->
          <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
          <link  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
          <!--  /jQuery・bootstrapライブラリ読み込み -->
           <!--  独自ライブラリ読み込み -->
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.css" />
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.min.js" ></script>
           <!-- Line sdk　の読み込み--> 
           <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>

        </head>
        <body>
        
        <div style="padding:30px;">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">予約一覧</a>
            </div>
            <div class="collapse navbar-collapse  justify-content-end " style="float:right;" id="navbarEexample1">
              <ul class="nav navbar-nav ">
                  <li class="nav-item active">
                      <a class="nav-link btn" href="/mngmt">トップ<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link " href="#">使い方</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">サイトについて</a>
                  </li>             
                <li><a href="#">設定</a></li>
              </ul>
            </div>
          </div>
        </nav>
   
          <table id="grid-basic" class="table table-condensed table-hover table-striped">
          <thead>
            <tr>
              <th data-column-id="id" data-type="numeric">予約番号</th>
              <th data-column-id="date-time" data-order="desc">日時</th>
              <th data-column-id="namae">名前</th>
              <th data-column-id="mail" >メール</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>2022/04/02 13:10</td>
              <td>たろう</td>
              <td>taro@gmail.co</td>
            </tr>
            <tr>
              <td>2</td>
              <td>2022/04/02 15:20</td>
              <td>じろう</td>
              <td>jiro@gmail.co</td>
            </tr>
            <tr>
              <td>3</td>
              <td>2022/04/02 12:20</td>
              <td>さぶろう</td>
              <td>36@gmail.co</td>
            </tr>
            <tr>
              <td>4</td>
              <td>2022/04/03 15:20</td>
              <td>たけし</td>
              <td>take@gmail.co</td>
            </tr>
            <tr>
              <td>5</td>
              <td>2022/05/02 13:05</td>
              <td>佐藤</td>
              <td>suger@icloud.com</td>
            </tr>
            <tr>
              <td>6</td>
              <td>2022/04/21 15:20</td>
              <td>高橋</td>
              <td>taka@gmail.co</td>
            </tr>
            <tr>
              <td>7</td>
              <td>2022/04/29 17:20</td>
              <td>伊藤</td>
              <td>i10@gmail.co</td>
            </tr>
            <tr>
              <td>8</td>
              <td>2022/04/27 15:20</td>
              <td>渡辺</td>
              <td>watanabe@gmail.co</td>
            </tr>
            <tr>
              <td>9</td>
              <td>2022/04/25 16:05</td>
              <td>斎藤</td>
              <td>saito@gmail.co</td>
            </tr>
            <tr>
              <td>10</td>
              <td>2022/05/02 15:00</td>
              <td>小林</td>
              <td>koba@gmail.co</td>
            </tr>
            <tr>
              <td>11</td>
              <td>2022/04/02 13:00</td>
              <td>吉田</td>
              <td>yosi@gmail.co</td>
            </tr>
            <tr>
              <td>12</td>
              <td>2022/04/10 15:11</td>
              <td>松本</td>
              <td>mat@gmail.co</td>
            </tr>
            <tr>
              <td>13</td>
              <td>2022/04/01 14:20</td>
              <td>佐々木</td>
              <td>s@gmail.co</td>
            </tr>
          </tbody>
          </table>
        </div>
        {% raw %}
        <script>
        $(function() {
          $("#grid-basic").bootgrid({
            labels: {
                noResults: "検索結果 0件",
                infos: "全 {{ctx.total}}件中 / {{ctx.start}}～{{ctx.end}}まで表示"
                
            }  
          
         } );
        });
        </script>
        {% endraw %}
  
        
        
        </body>
</html>