<!DOCTYPE html>
<html lang="ja">

<head>
  <title>yafood商品ページ</title>
  <meta name="viewport" content="width=device-width, initial-scale=0.9">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='custmr/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='custmr/index.css') }}">
	<script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
  

  <style>
    body {
      margin: 0;
    }
    .list {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
    }
    
    .badge-notify{
    background:red;
    position:relative;
    top: 5px;
    right: 10px;
  }
  .my-cart-icon-affix {
    position: fixed;
    z-index: 999;
  }
  .grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin-top: 6%;
    margin-bottom: 50px;
}


 
 
  </style>
</head>

<body class="container"style="max-width: inherit; width:50%">

  <div class="page-header">
    <h3>本日の商品 aaa
      <div style="float: right; cursor: pointer;">
        <span class="glyphicon glyphicon-shopping-cart my-cart-icon"><span class="badge badge-notify my-cart-badge"></span></span>
      </div>
    </h3>
  </div>

 <!-- <button type="addNewProduct" name="addNewProduct" id="addNewProduct">Add New Product</button>-->

  <div class="row" >
    <div class="col-md-3 text-center">
      <img src="{{ url_for('static', filename='custmr/images/img_1.jpg') }}" width="150px" height="150px">
      <br>
      ショートケーキ<br><strong>￥320</strong></br>
      <br>
      <button class="btn btn-danger my-cart-btn" data-id="1" data-name="product 1" data-summary="summary 1" data-price="10" data-quantity="1" data-image="{{ url_for('static', filename='custmr/images/img_1.jpg') }}">カートに入れる</button>
      <a href="/custmr/item_detail1?id=4" class="btn btn-info">商品詳細 a</a>
    </div>
    

    <div class="col-md-3 text-center">
      <img src="{{ url_for('static', filename='custmr/images/img_2.jpg') }}" width="150px" height="150px">
      <br>
      チョコレートケーキ<br><strong>￥380</strong></br>
      <br>
      <button class="btn btn-danger my-cart-btn" data-id="2" data-name="product 2" data-summary="summary 2" data-price="20" data-quantity="1" data-image="{{ url_for('static', filename='custmr/mages/img_2.jpg') }}">カートに入れる</button>
      <a href="/custmr/item_detail1?id=5" class="btn btn-info">商品詳細</a>
    </div>

    <div class="col-md-3 text-center">
      <img src="{{ url_for('static', filename='custmr/images/img_3.jpg') }}" width="150px" height="150px">
      <br>
      ガトーショコラ<br><strong>￥420</strong></br>
      <br>
      <button class="btn btn-danger my-cart-btn" data-id="3" data-name="product 3" data-summary="summary 3" data-price="30" data-quantity="1" data-image="{{ url_for('static', filename='custmr/images/img_3.jpg') }}">カートに入れる</button>
      <a href="/custmr/item_detail1?id=1" class="btn btn-info">商品詳細</a>
    </div>

    <div class="col-md-3 text-center">
      <img src="{{ url_for('static', filename='custmr/images/img_4.jpg') }}" width="150px" height="150px">
      <br>
      ベリーチーズケーキ<br><strong>￥380</strong></br>
      <br>
      <button class="btn btn-danger my-cart-btn" data-id="4" data-name="product 4" data-summary="summary 4" data-price="40" data-quantity="1" data-image="{{ url_for('static', filename='custmr/images/img_4.jpg') }}" >カートに入れる</button>
      <a href="/custmr/item_detail1?id=2" class="btn btn-info">商品詳細</a>
    </div>

    <div class="col-md-3 text-center">
      <img src="{{ url_for('static', filename='custmr/images/img_5.jpg') }}" width="150px" height="150px">
      <br>
      レモンチーズケーキ<br><strong>￥380</strong></br>
      <br>
      <button class="btn btn-danger my-cart-btn" data-id="5" data-name="product 5" data-summary="summary 5" data-price="50" data-quantity="1" data-image="{{ url_for('static', filename='custmr/images/img_5.jpg') }}">カートに入れる</button>
      <a href="/custmr/item_detail1?id=3" class="btn btn-info">商品詳細</a>
    </div>

  </div>


  <script src="{{ url_for('static', filename='custmr/js/jquery-2.2.3.min.js') }}"></script>
  <script type='text/javascript' src="{{ url_for('static', filename='custmr/js/bootstrap.min.js') }}"></script>
  <script type='text/javascript' src="{{ url_for('static', filename='custmr/js/jquery.mycart.js') }}"></script>
  <script type="text/javascript">
  $(function () {

    var goToCartIcon = function($addTocartBtn){
      var $cartIcon = $(".my-cart-icon");
      var $image = $('<img width="30px" height="30px" src="' + $addTocartBtn.data("image") + '"/>').css({"position": "fixed", "z-index": "999"});
      $addTocartBtn.prepend($image);
      var position = $cartIcon.position();
      $image.animate({
        top: position.top,
        left: position.left
      }, 500 , "linear", function() {
        $image.remove();
      });
    }

    $('.my-cart-btn').myCart({
      currencySymbol: '￥',
      classCartIcon: 'my-cart-icon',
      classCartBadge: 'my-cart-badge',
      classProductQuantity: 'my-product-quantity',
      classProductRemove: 'my-product-remove',
      classCheckoutCart: 'my-cart-checkout',
      affixCartIcon: true,
      showCheckoutModal: true,
      numberOfDecimals: 2,
      cartItems: [
        {id: 1, name: 'ショートケーキ', summary: 'summary 1', price: 320, quantity: 1, image: '{{ url_for("static", filename="custmr/images/img_1.jpg") }}'},
        {id: 2, name: 'チョコレートケーキ', summary: 'summary 2', price: 380, quantity: 2, image: '{{ url_for("static", filename="custmr/images/img_2.jpg") }}'},
        {id: 3, name: 'ガトーショコラ', summary: 'summary 3', price: 420, quantity: 1, image: '{{ url_for("static", filename="custmr/images/img_3.jpg") }}'}
      ],
      clickOnAddToCart: function($addTocart){
        goToCartIcon($addTocart);
      },
      afterAddOnCart: function(products, totalPrice, totalQuantity) {
        console.log("afterAddOnCart", products, totalPrice, totalQuantity);
      },
      clickOnCartIcon: function($cartIcon, products, totalPrice, totalQuantity) {
        console.log("cart icon clicked", $cartIcon, products, totalPrice, totalQuantity);
      },
      checkoutCart: function(products, totalPrice, totalQuantity) {
        var checkoutString = "Total Price: " + totalPrice + "\nTotal Quantity: " + totalQuantity;
        checkoutString += "\n\n id \t name \t summary \t price \t quantity \t image path";
        $.each(products, function(){
          checkoutString += ("\n " + this.id + " \t " + this.name + " \t " + this.summary + " \t " + this.price + " \t " + this.quantity + " \t " + this.image);
        });
        alert(checkoutString)
        console.log("予約する", products, totalPrice, totalQuantity);
      },
      getDiscountPrice: function(products, totalPrice, totalQuantity) {
        console.log("calculating discount", products, totalPrice, totalQuantity);
        return totalPrice * 0.5;
      }
    });
    /*
    $("#addNewProduct").click(function(event) {
      var currentElementNo = $(".row").children().length + 1;
      $(".row").append('<div class="col-md-3 text-center"><img src=\'{{ url_for("static", filename="custmr/images/img_empty.png") }}\' width="150px" height="150px"><br>product ' + currentElementNo + ' - <strong>$' + currentElementNo + '</strong><br><button class="btn btn-danger my-cart-btn" data-id="' + currentElementNo + '" data-name="product ' + currentElementNo + '" data-summary="summary ' + currentElementNo + '" data-price="' + currentElementNo + '" data-quantity="1" data-image=\"{{ url_for("static", filename="custmr/images/img_empty.png") }}\">Add to Cart</button><a href="#" class="btn btn-info">Details</a></div>')
    });
    */
  });
  </script>

</body>

</html>
