<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="商品一覧">
    <meta name="robots" content="noindex, nofollow">
    <title>商品詳細-ショートケーキ-</title>

        <!--   jQuery・bootstrapライブラリ読み込み -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> 
          <link  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
      <!--  独自ライブラリ読み込み -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.css" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.min.js" ></script>
      <!--  /独自ライブラリ読み込み -->
 
  
      <style type="text/css">
       .img_prv {
          width: 100%;
          height: 100px;
          background-position: center center;
          background-size: cover;
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
          display: inline-block;
        } 
      </style>


  </head>
  <body>
            <div class="modal-header">
              
              <h5 class="modal-title" id="Edit-title" >商品詳細</h5>
            </div>
            <div class="modal-body" >
              <form action="/mngmt/item_resp" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                  
                  <input type="hidden" class="form-control input-lg" id="Edit-command" name="command"  value="" >
                  <input type="hidden" class="form-control input-lg" id="Edit-id" name="id"  value="" >
                  <h1>{{shohinid}}</h1>
                  <label  style="width:400px;">商品画像
                    
                      <br>
                        <img src="{{item.image_b64data}}" width="200px" height="200px">
                        </br>
                    </div></label>
                  <div class="input-group mb-3 form-group">
                    <label class="input-group-text" style="width:350px;" >商品名：{{item.name}}</label>
                    
                  </div> 
                  
                  <div class="input-group mb-3  form-group">
                    <label class="input-group-text"  style="width:350px;">店舗名：{{item.shop}}</label>
                    
                  </div>
                  <div class="input-group mb-3  form-group">
                    <label class="input-group-text"  style="width:350px;">価格：￥{{item.price}}</label>
                    
                  </div>
                  <div class="input-group mb-3  form-group">
                    <label class="input-group-text"  style="width:350px;">在庫数：{{item.stock}}個</label>
                    
                  </div>
                  
                  

                </div>
 

                <div class="modal-footer" style="margin-top: 10px;">
                  <a href="">
                  <button type="submit" class="btn btn-primary">閉じる</button>
                  </a>


                </div>
                
              </form>
            </div>
          </div>
        </div>
      </div>
   

  </body>
</html>