<!DOCTYPE html>
<html lang="ja">

<head>
  <title>アウトレット・ケーキ＆パン</title>
  <meta name="viewport" content="width=device-width, initial-scale=0.9">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
	<script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>

 
 
  </style>
</head>

<body class="container"style="max-width: inherit; width:80%">

  <div class="page-header">
    <h1>アンナの食品ロス削減システム</h1>
    <h2>ケーキをおいしく食べよう</h2>
    <a href="mngmt">管理画面に飛ぶ（最終的にはこのリンクは削除）</a>
    <a href="test">テスト</a>
  </div>



</body>

</html>
