<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>データベースの練習</title>
        <link rel="stylesheet" href="/static/style.css">
		<script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
	</head>


	<body>
		<h1>データベース表示</h1>

		<table>
			<tr><th>番号</th><th>名前</th></tr>

			{{kotae | safe}}

		</table>
		<a href="/" >戻る</a>
	</body>

</html>
